.functions {
    margin-top: 50px;
    @include flex(row, flex-start, flex-start);

    p {
        color: $paragraph_color;
        line-height: 28px;
    }

    h3 {
        line-height: 36px;
    }

    a {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 7px 55px 5px rgba(0, 0, 0, 0.31);
        @include flex(row, center, center);

        .icon {
            font-size: 20px;
            color: $btn_bg;
        }
    }
}