.sectionOne {
    position: relative;

    .image {
        width: 60%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        background-image: url('../../images/03.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
    }

    .shape {
        width: 100%;
        height: 90vh;
        @include flex(row, flex-start, flex-start);
        clip-path: polygon(100% 0, 100% 14%, 77% 37%, 67% 78%, 0 100%, 0 0);

        .content {
            padding: 5%;
            border-radius: 50px;
            width: 100%;
            height: 100%;
            background-color: $topsection_bg;
            @include flex(column, flex-start, flex-start);

            .appstore {
                margin-left: -15px;
            }

            p {
                margin-top: 30px;
                font-size: 18px;
                width: 40%;
                line-height: 24px;

            }

            h2 {
                font-size: 73px;
                width: 40%;
                position: relative;
                line-height: 96px;
                @include border(0)
            }
        }
    }
}


.sectionTwo {

    .image {
        margin-top: 30px;
        height: 70vh;
        background-image: url('../../images/section2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .content {
        p {
            @include capitalText(center)
        }

        h2 {
            text-align: center;
            position: relative;
            @include border(50%)
        }
    }
}


.sectionThree {
    @include flex(row, space-between, center);

    .functions {
        margin-top: 50px;
        @include flex(row, flex-start, flex-start);

        p {
            color: $paragraph_color;
            line-height: 28px;
        }

        h3 {
            line-height: 36px;
        }

        a {
            @include button();
            margin-right: 30px;


        }
    }

    .content {
        width: 40%;

        .uppeprCase {
            @include capitalText(left)
        }

        h2 {
            position: relative;
            @include border(0)
        }
    }

    .image {
        width: 60%;
        height: 70vh;
        background-image: url('../../images/section3.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }
}



.sectionFour {
    @include flex(row, space-between, flex-start);

    .content {
        width: 40%;

        .uppeprCase {
            @include capitalText(left)
        }

        button {
            @include button();
            margin: 0px 0px -20px -20px;
            cursor: pointer;
        }

        .users {
            @include flex(row, flex-start, center);

            img {
                margin-top: 20px;
                width: 50px;
                height: 50px;
                margin-left: -10px;
                border-radius: 50%;
                border: 2px solid $body_bg;
            }
        }

        h2 {
            position: relative;
            @include border(0)
        }

        .text {
            margin-top: 30px;
        }
    }

    .image {
        width: 60%;
        height: 70vh;
        background-image: url('../../images/01.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
    }
}