.footer {
    padding: 100px;
    .functions{
        a{
            .icon{
                color: $paragraph_color
            }
        }
    }
    .bottemNavigation{
        @include flex(row,space-between,center);
        .linked{
        @include flex(row,flex-start,flex-start);
        li{
            margin: 20px
        }

        }
     }
    .links {
        @include flex(row, flex-start, flex-start);
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 50px;


        .link {
            width: 20%;
            margin: 0px 100px 0px 0px;
            .ratings {
                margin-top: 20px;
            }

            .Subscribe {
                @include flex(row, center, center);
                margin-top: 10px;   
                input {
                    height: 32px;
                    border-radius: 6px 0px 0px 6px;
                    padding: 0px 10px;
                }

                button {
                    width: 50px;
                    background-color: $btn_bg;
                    height: 32px;
                    border-radius: 0px 6px 6px 0px;

                    .icon {
                        font-size: 20px;
                        color: $body_bg;
                    }
                }
            }

            ul {
                li {
                    margin: 10px 0px;
                }
            }
        }
    }
}