.navbar {


    .nav-content {
        padding: 20px 0px;
        @include flex(row, space-between, center);
        width: 80%;
        margin: auto;
        border: 1px solid red;

    }

    .links {
        border: 1px solid red;
        @include flex(row, flex-end, center);

        .get-price {
            background: $btn_bg;
            color: $body_bg;
            padding: 10px;
            border-radius: 6px
        }

        ul {
            @include flex(row, center, center);

            li {
                margin: 0px 20px 0px 0px;
            }

        }

    }
}