* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


$body_bg: #ffffff;
$topsection_bg: #fef9f3;
$circle_: #ede2d5;
$heading_color: #2c090b;
$paragraph_color: #3c3b39;
$paragraph_light: #a6a6a6;
$btn_bg: #ff6525;
$underline_bg: #fdc868;

h1,
h2,
h3 {
    color: $heading_color;
    font-family: inter;
}

h2 {
    font-size: 36px;
    line-height: 46px;
}



p {
    font-family: inter;
}

body {
    background: $body_bg ;
}

ul {
    list-style-type: none;
    font-family: inter;
}



a {
    font-family: inherit;
}

button {
    outline: none;
    border: none;
}

@mixin flex($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;

}

@mixin capitalText($align) {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $paragraph_light;
    text-align: $align;
    letter-spacing: 2px;
    line-height: 24px;
}


@mixin border($left) {
    &::after {
        width: 50px;
        height: 7px;
        position: absolute;
        bottom: -10px;
        border-radius: 3px;
        left: $left;
        content: "";
        background: $underline_bg;
    }
}

@import './layout/navbar';
@import './layout/footer';

@import './layout/containers';
@import './pages/homePage';


.page-not-found {
    min-height: 100vh;
    width: 100%;
    @include flex(row, flex-start, flex-start);
    background-image: url('../images/notFound.png');
    background-size: contain;
    background-position: top center;

    a {
        font-family: inter;
    }
}